*{
  box-sizing:border-box;
  font-family:system-ui;
}

body{
  margin:0;
  background:#f4f6f8;
  color:#0f172a;
}

header{
  background:#fff;
  padding:16px;
  font-size:18px;
  font-weight:900;
  display:flex;
  justify-content:space-between;
  align-items:center;
  box-shadow:0 4px 14px rgba(0,0,0,.12);
}

header button{
  background:#16a34a;
  color:#fff;
  border:none;
  padding:10px 16px;
  border-radius:14px;
  font-weight:900;
}

.card{
  background:#fff;
  margin:14px;
  padding:16px;
  border-radius:20px;
  box-shadow:0 10px 26px rgba(0,0,0,.08);
}

.search{
  width:100%;
  padding:12px;
  border-radius:14px;
  border:2px solid #e5e7eb;
}

table{
  width:100%;
  border-collapse:collapse;
}

th,td{
  padding:8px;
  font-size:13px;
}

.actions-td button{
  border:none;
  padding:6px 10px;
  border-radius:10px;
  font-weight:800;
}

.edit{background:#14b8a6;color:#fff}
.del{background:#ef4444;color:#fff}

/* MODAL */
.modal{
  position:fixed;
  inset:0;
  background:rgba(0,0,0,.45);
  display:none;
  justify-content:center;
  align-items:center;
}

.modal.active{display:flex}

.modal-card{
  background:#fff;
  width:95%;
  max-width:420px;
  border-radius:22px;
}

.modal-body{padding:16px}

.modal-footer{
  padding:12px;
  display:grid;
  grid-template-columns:1fr 1fr;
  gap:10px;
  border-top:1px solid #e5e7eb;
}

.modal-footer button{
  padding:14px;
  border:none;
  border-radius:16px;
  font-weight:900;
}

.modal-footer button:first-child{
  background:#16a34a;
  color:#fff;
}

/* PROGRESS */
#progress-bar{
  position:fixed;
  top:0;
  left:0;
  height:4px;
  width:0%;
  background:#16a34a;
  z-index:9999;
  transition:.3s;
}

#progress-bar.active{width:80%}
